#contact-card{
  width: 80vw;
  max-width: 1000px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BBDEFB;
  min-height: 350px;
}
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  padding: 20px;
}
#contact-img{
  border-radius: 50px;
}
.min-img-container {
  min-height: 100px; /* Adjust as needed */
}

.min-img {
  min-width: 100px; /* Adjust as needed */
  min-height: 100px; /* Adjust as needed */
}