
#progress{
  background-color: #00B8D4;
}
#card-progress{
  min-height: 350px;
}

#preferences{
  background-color: rgb(0, 255, 234);
}
#favorites-card{
  background-color: #0091EA;
}
#best-crags{
  background-color: #00BFA5;
}
#saved-pyramids{
  background-color: rgb(238, 255, 0);
}

.route-ids{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 22px;
}

.route-ids button{
  margin: 3px;
  color: #000;
  background-color: rgb(16, 244, 4);
}