
#progress{
  background-color: rgb(4, 255, 83);
}
#preferences{
  background-color: rgb(0, 255, 234);
}
#best-crags{
  background-color: rgb(38, 194, 237);
}
#saved-pyramids{
  background-color: rgb(238, 255, 0);
} 