/* Common styles for both screen sizes */
.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  margin-top: 55px;
}

#home-background-img {
  position: absolute;
  /* background-image: url('../imagesnew/FrontPage/background1.jpg'); */

  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.white-text {
  color: white;
}

.pyramid {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 37vw solid transparent;
  border-right: 37vw solid transparent;
  border-bottom: 80vh solid rgba(255, 255, 255, 0.2);
  transform: translateX(-50%);
  z-index: 0;
  pointer-events: none;
  margin-top: 45px;
  display:none;
}

/* Responsive styles for smaller screens */
@media (max-width: 1000px) {
  #home-background-img {
    /* background-image: url('../imagesnew/FrontPage/vert.jpg'); */
    width: 100vw;
    height: 100vh;
    background-position: center;
  }

  .pyramid-container {
    margin-top: 200px;
  }

  .overlay-content {
    top: 40%;
    margin-top: 0;
  }

  .pyramid {
    border-left: 20vw solid transparent;
    border-right: 20vw solid transparent;
    border-bottom: 40vh solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
  }

  .responsive-logo {
    display:none;
  }
}

.mentor-box{
  display: flex;
  align-items: center;
  justify-content: center; /* Add this line for horizontal centering */
  height: 40vh; /* Set a height for vertical centering, adjust as needed */
  background-position: center;
  text-align: center;
}
@media (max-width: 1000px) {
  .pyramid {
    width: 100%;
    height: 100%;
    background-position: center;
    display:none;
  }
}